@model CostVal

<h3>@Model.purchesName Information</h3>

<table class="table">
    <tr>
        <th>purchesID</th>
        <th>month</th>
        <th>purchesName</th>
        <th>cost</th>
    </tr>
    <tr>
        <td>@Model.purchesID</td>
        <td>@Model.month</td>
        <td>@Model.purchesName</td>
        <td>@Model.cost</td>
    </tr>
</table>

<div style="display: block">
    <a href="/PlaceHolder2/UpdateCost/@Model.purchesID">Update this Product</a>
</div>